<div class="ui-g ui-fluid" style="margin-top: 60px;">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <form #addForm="ngForm" [formGroup]="form" (ngSubmit)="onsubmit()" class="contact-form"
                  dir="rtl">
                <p-messages></p-messages>
                <div class="ui-g form-group">
                    <h1 style="width: 60%;">الادوية</h1>
                </div>
                <div class="ui-g form-group">

                    <div class="ui-g-12 ui-md-6">
                        <span class="md-inputfield">
                            <input [(ngModel)]="medicine.name" formControlName="name"
                                id="name" name="name"  pInputText type="text">
                                <div *ngIf="(form.get('name').invalid&&form.get('name').touched)||validateAllForm"
                                class="ui-message ui-messages-error ui-corner-all">
                                    <div *ngIf="form.get('name').errors?.required"
                                        class="ui-message ui-messages-error ui-corner-all" translate>
                                       اسم الدواء مطلوب
                                    </div>
                               </div>
                            <label>اسم الدواء <span class="required-asterisk"
                            style="color: red;">*</span></label>
                        </span>
                    </div>


                    <div class="ui-g-12 ui-md-6">
                        <span class="md-inputfield">
                            <input [(ngModel)]="medicine.quantity" formControlName="quantity"
                                id="quantity" name="quantity"  pInputText type="text">
                            <div *ngIf="(form.get('quantity').invalid&&form.get('quantity').touched)||validateAllForm"
                                class="ui-message ui-messages-error ui-corner-all">
                                    <div *ngIf="form.get('quantity').errors?.required"
                                        class="ui-message ui-messages-error ui-corner-all" translate>
                                          الكمية مطلوبة
                                    </div>
                            </div>
                            <label>الكمية<span class="required-asterisk"
                                style="color: red;">*</span></label>
                        </span>
                    </div>

                    <div class="ui-g-12 ui-md-6">
                        <span class="md-inputfield">
                            <input [(ngModel)]="medicine.cost" formControlName="cost"
                                id="cost" name="cost"  pInputText type="text">
                            <div *ngIf="(form.get('cost').invalid&&form.get('cost').touched)||validateAllForm"
                                class="ui-message ui-messages-error ui-corner-all">
                                    <div *ngIf="form.get('cost').errors?.required"
                                        class="ui-message ui-messages-error ui-corner-all" translate>
                                         التكلفة مطلوب
                                    </div>
                            </div>
                            <label>التكلفة<span class="required-asterisk"
                                style="color: red;">*</span></label>
                        </span>
                    </div>        

                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="material-icons">date_range</i></span>
                            <span class="md-inputfield">
                                <p-calendar formControlName="expiryDate" name="expiryDate" pInputText
                                [(ngModel)]="medicine.expiryDate"  placeholder="تاريخ الانتهاء"></p-calendar>

                            </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-6">
                        <span class="md-inputfield">
                            <input [(ngModel)]="medicine.description" formControlName="description"
                                id="description" name="description"  pInputText type="text">
                            <div *ngIf="(form.get('description').invalid&&form.get('description').touched)||validateAllForm"
                                class="ui-message ui-messages-error ui-corner-all">
                                    <div *ngIf="form.get('description').errors?.required"
                                        class="ui-message ui-messages-error ui-corner-all" translate>
                                         الوصف مطلوب
                                    </div>
                            </div>
                            <label>الوصف<span class="required-asterisk"
                                style="color: red;">*</span></label>
                        </span>
                    </div>        
                       
                </div>

                <div class="ui-g form-group" dir="rtl" style="margin-left: auto;width: 30%;">

                    <div class=" ui-g-12 ui-md-6">
                        <button class="ui-button-info"  icon="ui-icon-add" label="حفظ"
                            pButton pRipple style="margin-top: 20px;" type="submit"></button>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <button (click)="cancel()" class="p-button-rounded p-button-warning" icon="ui-icon-cancel"
                            label="الغاء" pButton pRipple style="margin-top: 20px; background-color: #FBC02D;"
                            type="button"></button>
                    </div>                  

                </div>
            </form>

        </div>
    </div>
</div>

<div class="ui-g-12">
    <div class="card card-w-title">
        <p-table #dt [columns]="cols" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]"        
        [value]="medicines" dataKey="name" selectionMode="single" styleClass="ui-table-cars">
        <ng-template pTemplate="caption">
            <div>
                <div style="text-align: left;">
                        <label style="margin-left: 50%;">الادوية</label>
                </div>
            </div>
        </ng-template>
        <ng-template let-columns pTemplate="header">
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field" [pSortableColumn]="col.field" >
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
            
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field" style="padding: .5em;">
                    <input (input)="dt.filter($event.target.value, col.field, 'startsWith')" *ngSwitchCase="'name'"
                        class="ui-column-filter" pInputText placeholder="تحتوي على"
                        style="width: 100%; margin-top: 0;" type="text">                   
                    <input (input)="dt.filter($event.target.value, col.field, 'contains')"
                        *ngSwitchCase="'quantity'" class="ui-column-filter" pInputText
                        placeholder="تحتوي على" style="width: 100%; margin-top: 0;" type="text">
                    <input (input)="dt.filter($event.target.value, col.field, 'contains')"
                        *ngSwitchCase="'cost'" class="ui-column-filter" pInputText
                        placeholder="تحتوي على" style="width: 100%; margin-top: 0;" type="text">
                    <input (input)="dt.filter($event.target.value, col.field, 'contains')"
                        *ngSwitchCase="'expiryDate'" class="ui-column-filter" pInputText
                        style="width: 100%; margin-top: 0;" type="date">
                    <input (input)="dt.filter($event.target.value, col.field, 'contains')"
                        *ngSwitchCase="'description'" class="ui-column-filter" pInputText
                        placeholder="تحتوي على" style="width: 100%; margin-top: 0;" type="text">
                </th>
            </tr>
        </ng-template>
        <ng-template let-columns="columns" let-rowData pTemplate="body">
            <tr [pEditableRow]="rowData" [pSelectableRow]="rowData">
                <td>{{rowData.name}}</td>
                <td>{{rowData.quantity}}</td>
                <td>{{rowData.cost}}</td>
                <td>{{rowData.expiryDate}}</td>
                <td>{{rowData.description}}</td>
            </tr>
        </ng-template>
    </p-table>
    </div>
</div>