<div class="ui-g ui-fluid" style="margin-top: 60px;">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <form #addForm="ngForm" [formGroup]="form" (ngSubmit)="onsubmit()" class="contact-form"
                  dir="rtl">
                <p-messages></p-messages>
                <div class="ui-g form-group">
                    <h1 style="width: 60%;">تغذية الحظائر </h1>
                </div>
                <div class="ui-g form-group">

                    <div class="ui-g-12 ui-md-6">
                        <span class="md-inputfield">
                            <input [(ngModel)]="food.amount" formControlName="amount"
                                id="amount" name="amount"  pInputText type="text">
                                <div *ngIf="(form.get('amount').invalid&&form.get('amount').touched)||validateAllForm"
                                class="ui-message ui-messages-error ui-corner-all">
                                    <div *ngIf="form.get('amount').errors?.required"
                                        class="ui-message ui-messages-error ui-corner-all" translate>
                                        كمية العلف المضاف مطلوبة
                                    </div>
                               </div>
                            <label>كمية العلف المضاف<span class="required-asterisk"
                            style="color: red;">*</span></label>
                        </span>
                    </div>

                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="material-icons">date_range</i></span>
                            <span class="md-inputfield">
                                <p-calendar formControlName="date" name="date" pInputText
                                [(ngModel)]="food.date"  placeholder="تاريخ اخذ التغذية"></p-calendar>

                            </span>
                        </div>
                    </div>
                   
                    <div class="ui-g-12 ui-md-6">
                        <span class="md-inputfield">
                            <p-dropdown [(ngModel)]="food.place" [options]="places"
                                formControlName="place" id="place" name="place"
                                placeholder="الحظيرة"></p-dropdown>
                                <div *ngIf="(form.get('place').invalid&&form.get('place').touched)||validateAllForm"
                                class="ui-message ui-messages-error ui-corner-all">
                                    <div *ngIf="form.get('place').errors?.required"
                                        class="ui-message ui-messages-error ui-corner-all">
                                        الحظيرة مطلوبة
                                    </div>
                                </div>
                        </span>
                    </div>
                  
                    <div class="ui-g-12 ui-md-6">
                        <span class="md-inputfield">
                            <p-dropdown [(ngModel)]="food.feed" [options]="feeds"
                                formControlName="feed" id="feed" name="feed"
                                placeholder="العلف"></p-dropdown>
                                <div *ngIf="(form.get('feed').invalid&&form.get('feed').touched)||validateAllForm"
                                class="ui-message ui-messages-error ui-corner-all">
                                    <div *ngIf="form.get('feed').errors?.required"
                                        class="ui-message ui-messages-error ui-corner-all">
                                        العلف مطلوب
                                    </div>
                                </div>
                        </span>
                    </div>
                   
                </div>

                <div class="ui-g form-group" dir="rtl" style="margin-left: auto;width: 30%;">

                    <div class=" ui-g-12 ui-md-6">
                        <button class="ui-button-info"  icon="ui-icon-add" label="حفظ"
                            pButton pRipple style="margin-top: 20px;" type="submit"></button>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <button (click)="cancel()" class="p-button-rounded p-button-warning" icon="ui-icon-cancel"
                            label="الغاء" pButton pRipple style="margin-top: 20px; background-color: #FBC02D;"
                            type="button"></button>
                    </div>                  

                </div>
            </form>

        </div>
    </div>
</div>

<div class="ui-g-12">
    <div class="card card-w-title">
        <p-table #dt [columns]="cols" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]"        
        [value]="placesFeed" dataKey="place" selectionMode="single" styleClass="ui-table-cars">
        <ng-template pTemplate="caption">
            <div>
                <div style="text-align: left;">
                        <label style="margin-left: 50%;">تغذية الحظائر</label>
                </div>
            </div>
        </ng-template>
        <ng-template let-columns pTemplate="header">
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field" [pSortableColumn]="col.field" >
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
            
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field" style="padding: .5em;">
                    <input (input)="dt.filter($event.target.value, col.field, 'startsWith')" *ngSwitchCase="'place'"
                        class="ui-column-filter" pInputText placeholder="تحتوي على"
                        style="width: 100%; margin-top: 0;" type="text">                   
                    <input (input)="dt.filter($event.target.value, col.field, 'contains')"
                        *ngSwitchCase="'date'" class="ui-column-filter" pInputText
                        style="width: 100%; margin-top: 0;" type="date">
                    <input (input)="dt.filter($event.target.value, col.field, 'contains')"
                        *ngSwitchCase="'amount'" class="ui-column-filter" pInputText
                        placeholder="تحتوي على" style="width: 100%; margin-top: 0;" type="text">
                    <input (input)="dt.filter($event.target.value, col.field, 'contains')"
                        *ngSwitchCase="'feed'" class="ui-column-filter" pInputText
                        placeholder="تحتوي على" style="width: 100%; margin-top: 0;" type="text">
                 
                </th>
            </tr>
        </ng-template>
        <ng-template let-columns="columns" let-rowData pTemplate="body">
            <tr [pEditableRow]="rowData" [pSelectableRow]="rowData">
                <td>{{rowData.place.code}}</td>
                <td>{{rowData.date | date: 'MM/dd/yyyy'}}</td>
                <td>{{rowData.amount}}</td>
                <td>{{rowData.feed.name}}</td>
            </tr>
        </ng-template>
    </p-table>
    </div>
</div>