<div class="ui-g ui-fluid" style="margin-top: 60px;">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <form #searchForm="ngForm" [formGroup]="form" (ngSubmit)="onsubmit()" class="contact-form"
                  dir="rtl">
                <p-messages></p-messages>
                <div class="ui-g form-group">
                    <h1 style="width: 60%;">بحث القطيع</h1>
                </div>
                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="material-icons">code</i></span>
                            <span class="md-inputfield">
                                <input name="code" formControlName="code" id="code" ngModel pInputText type="text">
                                <label>الكود</label>
                            </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="material-icons">color_lens</i></span>
                            <span class="md-inputfield">
                                <p-dropdown [options]="colors" formControlName="color" name="color"
                                    placeholder="اللون"></p-dropdown>
                            </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="material-icons">date_range</i></span>
                            <span class="md-inputfield">
                                <p-calendar [maxDate]="this.form.get('toBirthDate').value == null ? this.todayDate : this.form.get('toBirthDate').value" formControlName="fromBirthDate"
                                    name="fromBirthDate" pInputText placeholder="من تاريخ ميلاد"></p-calendar>
                            </span>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="material-icons">date_range</i></span>
                            <span class="md-inputfield">
                                <p-calendar [minDate]="form.get('fromBirthDate').value" [maxDate]="todayDate" formControlName="toBirthDate"
                                    name="toBirthDate" pInputText placeholder="الى تاريخ ميلاد"></p-calendar>
                            </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="material-icons">date_range</i></span>
                            <span class="md-inputfield">
                                <p-calendar [maxDate]="this.form.get('toBirthDate').value == null ? this.todayDate : this.form.get('toBirthDate').value" formControlName="fromArrivalDate"
                                    name="fromArrivalDate" pInputText placeholder="من تاريخ وصول"></p-calendar>
                            </span>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="material-icons">date_range</i></span>
                            <span class="md-inputfield">
                                <p-calendar [minDate]="form.get('fromArrivalDate').value" [maxDate]="todayDate" formControlName="toArrivalDate"
                                    name="toArrivalDate" pInputText placeholder="الى تاريخ وصول"></p-calendar>
                            </span>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="material-icons">line_weight</i></span>
                            <span class="md-inputfield">
                                <input name="weight" formControlName="weight" id="weight" ngModel pInputText type="text">
                                <label>الوزن</label>
                            </span>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="material-icons">code</i></span>
                            <span class="md-inputfield">
                                <input name="age" formControlName="age" id="age" ngModel pInputText type="text">
                                <label>العمراكبر من</label>
                            </span>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="material-icons">home</i></span>
                            <span class="md-inputfield">
                                <input name="shape" formControlName="shape" id="shape" ngModel pInputText type="text">
                                <label>الشكل</label>
                            </span>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="material-icons">home</i></span>
                            <span class="md-inputfield">
                                <p-dropdown [options]="statuses" formControlName="status" name="status"
                                    placeholder="الحالة"></p-dropdown>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="ui-g form-group" dir="rtl" style="margin-left: auto;width: 30%;">

                    <div class=" ui-g-12 ui-md-6">
                        <button class="ui-button-info" icon="ui-icon-search" [disabled]="isSearchBtnDisabled"
                            label="بحث " pButton style="margin-top: 20px;margin-bottom:10px"
                            type="submit"></button>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <button (click)="resetData()" class="ui-button-info" icon="ui-icon-refresh"
                            label="إعادة ضبط" pButton
                            style="margin-top: 20px;margin-bottom:10px;background-color: #FBC02D;"
                            type="button"></button>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>

<div class="ui-g-12">
    <div class="card card-w-title">
        <p-table #dt [columns]="cols" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]"        
            [value]="sheeps" dataKey="code" selectionMode="single" styleClass="ui-table-cars">
            <ng-template pTemplate="caption">
                <div>
                    <div style="text-align: left;">
                            <label style="margin-left: 50%;">القطيع</label>
                    </div>
                </div>
            </ng-template>
            <ng-template let-columns pTemplate="header">
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" [pSortableColumn]="col.field" >
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
                
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" style="padding: .5em;">
                        <input (input)="dt.filter($event.target.value, col.field, 'startsWith')" *ngSwitchCase="'code'"
                            class="ui-column-filter" pInputText placeholder="تحتوي على"
                            style="width: 100%; margin-top: 0;" type="text">
                        <input (input)="dt.filter($event.target.value, col.field, 'contains')"
                            *ngSwitchCase="'color'" class="ui-column-filter" pInputText
                            placeholder="تحتوي على" style="width: 100%; margin-top: 0;" type="text">
                        <input (input)="dt.filter($event.target.value, col.field, 'contains')"
                            *ngSwitchCase="'birthDate'" class="ui-column-filter" pInputText
                            style="width: 100%; margin-top: 0;" type="date">
                        <input (input)="dt.filter($event.target.value, col.field, 'contains')"
                            *ngSwitchCase="'arrivalDate'" class="ui-column-filter" pInputText
                            style="width: 100%; margin-top: 0;" type="date">
                        <input (input)="dt.filter($event.target.value, col.field, 'contains')"
                            *ngSwitchCase="'age'" class="ui-column-filter" pInputText
                            placeholder="تحتوي على" style="width: 100%; margin-top: 0;" type="text">
                        <input (input)="dt.filter($event.target.value, col.field, 'contains')"
                            *ngSwitchCase="'weight'" class="ui-column-filter" pInputText
                            placeholder="تحتوي على" style="width: 100%; margin-top: 0;" type="text">
                        <input (input)="dt.filter($event.target.value, col.field, 'contains')"
                            *ngSwitchCase="'named'" class="ui-column-filter" pInputText
                            placeholder="تحتوي على" style="width: 100%; margin-top: 0;" type="text">
                        <input (input)="dt.filter($event.target.value, col.field, 'contains')"
                            *ngSwitchCase="'shape'" class="ui-column-filter" pInputText
                            placeholder="تحتوي على" style="width: 100%; margin-top: 0;" type="text">
                        <input (input)="dt.filter($event.target.value, col.field, 'contains')"
                            *ngSwitchCase="'status'" class="ui-column-filter" pInputText
                            placeholder="تحتوي على" style="width: 100%; margin-top: 0;" type="text">
                        <input (input)="dt.filter($event.target.value, col.field, 'contains')"
                            *ngSwitchCase="'type'" class="ui-column-filter" pInputText
                            placeholder="تحتوي على" style="width: 100%; margin-top: 0;" type="text">
                    </th>
                </tr>
            </ng-template>
            <ng-template let-columns="columns" let-rowData pTemplate="body">
                <tr [pEditableRow]="rowData" [pSelectableRow]="rowData">
                    <td>{{rowData.code}}</td>
                    <td>{{rowData.color}}</td>
                    <td>{{rowData.birthDate | date: 'MM/dd/yyyy'}}</td>
                    <td>{{rowData.arrivalDate | date: 'MM/dd/yyyy'}}</td>
                    <td>{{rowData.age}}</td>
                    <td>{{rowData.weight}}</td>
                    <td>{{rowData.named}}</td>
                    <td>{{rowData.shape}}</td>
                    <td>{{rowData.status}}</td>
                    <td>{{rowData.type}}</td>
                    <td><button (click)="editSheep(rowData.code,rowData.color)" title="تعديل" class="ui-button-info" icon="ui-icon-edit"
                        pButton></button></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>