<div class="ui-g dashboard" style="margin-top: 60px;">
    <div class="ui-g-12">
        <div class="ui-g-12 ui-md-6">
            <div class="card" >
                <h2 style="color:green;text-align:center">Transaction</h2>
                    <div style="overflow:auto">
                        <p-chart type="doughnut" [data]="data" responsive="true" ></p-chart>
                    </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6">
            <div class="card">
                <h2 style="color:green;text-align:center">Payment Link</h2>
                <div style="overflow:auto">
                    <p-chart type="pie" [data]="data" responsive="true"></p-chart>
                </div>
            </div>
        </div>
           
   </div> 
</div>